<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Lista de jogadors</h2>
    <a href="{{ url_for('cadastrar') }}">Adicionar jogador</a>
    {% if not jogadors %}
    <p>Não há jogadors registrados</p>
    {% endif %}
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Posicao</th>
                <th>Altura</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
        {% for jogador in jogadors %}
            <tr>
                <td>{{ jogador.nome }}</td>
                <td>{{ jogador.posicao }}</td>
                <td>{{ jogador.altura }}</td>
                <td><a href="{{ url_for('editar', chave=jogador.id)}}">Editar</a></td>
                <td><a href="{{ url_for('apagar', chave=jogador.id)}}">Remover</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>